ingress:
  enabled: false

postgresql:
  image:
    # Specify the image registry (e.g., Docker Hub, a private registry)
    registry: "docker.io"
    # Specify the image repository (e.g., bitnami/postgresql)
    repository: "wunderio/bitnami-postgresql"
    # Specify the exact image tag/version (e.g., 16.0.0, latest is not recommended for production)
    tag: "11.5.0-debian-9-r60"
  enabled: true
  replication:
    enabled: false
  existingSecret: wikijs-prod-secrets
  persistence:
    enabled: true
    storageClass: rook-cephfs-retain
    accessMode: ReadWriteOnce
    size: 2Gi
