ingress:
  enabled: false

postgresql:
  image: wunderio/bitnami-postgresql:11.5.0-debian-9-r60
  enabled: true
  replication:
    enabled: false
  existingSecret: wikijs-prod-secrets
  persistence:
    enabled: true
    storageClass: rook-cephfs-retain
    accessMode: ReadWriteOnce
    size: 2Gi
