apiVersion: v1
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/pki/{{ environment }}-cluster/ca.crt
    server: {{ KUBERNETES_API_URL }}
  name: {{ KUBERNETES_CLUSTER_NAME }}
contexts:
- context:
    cluster: {{ KUBERNETES_CLUSTER_NAME }}
    user: {{ KUBERNETES_CLUSTER_ADMIN }}
  name: {{ KUBERNETES_CLUSTER_ADMIN }}@{{ KUBERNETES_CLUSTER_NAME }}
current-context: {{ KUBERNETES_CLUSTER_ADMIN }}@{{ KUBERNETES_CLUSTER_NAME }}
kind: Config
users:
- name: {{ KUBERNETES_CLUSTER_ADMIN }}
  user:
    client-certificate: /etc/kubernetes/pki/{{ environment }}-cluster/apiserver-kubelet-client.crt
    client-key: /etc/kubernetes/pki/{{ environment }}-cluster/apiserver-kubelet-client.key
