apiVersion: v1
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/pki/ca.crt
    server: https://{{ environment }}-cluster.example.com:6443
  name: {{ environment }}-cluster
contexts:
- context:
    cluster: {{ environment }}-cluster
    user: {{ environment }}-admin
  name: {{ environment }}-context
current-context: {{ environment }}-context
kind: Config
users:
- name: {{ environment }}-admin
  user:
    client-certificate: /etc/kubernetes/pki/{{ environment }}-admin.crt
    client-key: /etc/kubernetes/pki/{{ environment }}-admin.key
