---
# --> (Example) Create an IngressRoute for your service...
 apiVersion: traefik.io/v1alpha1
 kind: IngressRoute
 metadata:
   name: plane-web-ingressroute  # <-- Replace with your IngressRoute name
   namespace: plane-prod  # <-- Replace with your namespace
 spec:
   entryPoints:
     - websecure
   routes:
     - match: Host(`plane-pm.home.nerdylyonsden.io`)  # <-- Replace with your FQDN
       kind: Rule
       services:
         - name: plane-prod-web  # <-- Replace with your service name
           port: 3000
   tls:
     secretName: prod-apps-certificate-secret
